@font-face {
    font-family: 'Comfortaa';
    src: url("../../fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}

.cart-null {
    width: 700px;
    color: #64D370;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;
}