@font-face {
    font-family: 'Comfortaa';
    src: url("../../fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-VariableFont_wght.ttf");
}

.card {
    max-width: 300px;
    margin: 0px 16px 40px 16px;

    .card__image {
        width: 300px;
        height: 300px;
        margin: 0px 0px 20px 0px;
        border: 10px solid #64D370;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 210px;
            height: 210px;
            border-radius: 30px;
            object-fit: cover;
        }
    }

    .card__title {
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 26px;
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    .card__price {
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 26px;
        color: #64D370;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }

    .card__nav {
        text-align: center;
    }
}